body {
    display: grid;
    grid-template-areas: "he"
                         "re"
    ;
    grid-template-rows: 5rem auto 5rem;

    margin: 0;
}

body header#top-header {
    grid-area: he;

    justify-content: space-between;
    background-color: lightsteelblue;

    display: grid;
    grid-template-columns: 70% 30%;
}

header#top-header h1 {
    text-align: center;
}

header#top-header div#hamburger-button-area {
    padding: 1.5rem;

    display: flex;
    justify-content: center;
}

/* The actual button part */
header#top-header div#hamburger-button-area img#hamburger-button {
    cursor: pointer;
}

body div#rest {
    grid-area: re;
}

nav#hamburger-menu {
    height: 100vh;
    width: 20vw;
    position: fixed;
    z-index: 10;
    right: -35%;
    transition-property: right;
    transition-duration: 0.3s;

    background-color: white;
    border: 2px solid black;
}

nav#hamburger-menu * {
    display: block;
    padding: 1rem 0 0 30%;
}

nav#hamburger-menu.show {
    right: 0;
}

div#hamburger-menu-hover-detect {
    position: fixed;
    height: 100vh;
    width: 1vw;
    right: 0;
}

.hoverdetector {
    opacity: 0;
}

.centered-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

form#logout-form {
    margin: 0;
    padding: 0;
}

.button-as-link {
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    font-family: serif;
    font-size: 16;
}

.button-as-link:hover {
    text-decoration: underline;
}

.info-bubble {
    padding: 1rem;
    background-color: lightcyan;
    border: 2px solid black;
    border-radius: 4px;
}

.horizontal-container {
    display: flex;
}

.horizontal-container * {
    margin: 1rem;
}

a.plain-link {
    text-decoration: none;
    color: black;
}

.normal-border {
    border: 3px solid black;
    border-radius: 2px;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
}

hr.horizontal-seperator {
    border: none;
    border-bottom: 1px solid black;
    margin: 0;
}

form .input-block {
    display: flex;
    flex-direction: column;

    padding: 0.5rem;
}

form .input-block :is(input, select) {
    width: 20rem;
    height: 2rem;
}

div#startpage-container section#latest-updates {
    width: 80%;
}

/* div#startpage-container section#latest-updates article.update-item { */
    /* border: 3px solid black; */
    /* border-radius: 2px; */
    /* padding: 1rem; */
    /* margin: 1rem; */
    /* text-align: center; */
/* } */

section#profile-img-name-card {
    height: 3rem;
}

section#profile-img-name-card img {
    max-height: 100%;
    max-width: 100%;
}

section#profile-img-name-card a::before {
    content: " ";
}

div#admin-panel-container {
    display: grid;
    height: 50vh;
    width: 70%;
    gap: 1rem;

    grid-template-areas: "he he"
                         "ad ed";

    grid-template-rows: 10% auto;
    grid-template-columns: 50% 50%;
}

div#admin-panel-container header#admin-page-header {
    grid-area: he;
    text-align: center;
}

div#admin-panel-container section#admin-add-content {
    grid-area: ad;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

div#admin-panel-container section#admin-add-content a {
    width: 60%;
}

div#admin-panel-container section#admin-edit-users {
    grid-area: ed;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

div#admin-panel-container section#admin-edit-users a {
    margin-left: 1rem;
}
